<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Waitstaff Calculator</title>

  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/styles.css">

  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="js/script.js"></script>
</head>

<body ng-app="tipsCalculator">

  <header>
    <h1>Waitstaff Calculator</h1>
  </header>
  
  <form name="tipsForm" novalidate ng-controller="tipsController">
    <div class="meal-details">
      <h2>Enter the Meal Details</h2>
      <hr>
      <h3>Base Meal Price:</h3>
      $<input type="number" ng-model="data.mealprice" placeholder="9.99" required min="0" />
      <h3>Tax Rate:</h3>
      %<input type="number" ng-model="data.taxpercent" required min="0" max="100"/>
      <h3>Tip Percentage:</h3>
      %<input type="number" ng-model="data.tippercent" required min="0" max="100"/>
      <br>
      <div class="buttons">
        <input type="submit" value="Submit" id="submit" ng-disabled="tipsForm.$invalid" ng-click="submit()" />
        <input type="submit" value="Cancel" id="cancel" ng-click="cancel()" />
      </div>
    </div>

    <div class="customer-charges">
      <h2>Customer Charges</h2>
      <hr>
      <h3>Subtotal: {{ data.mealprice + (data.mealprice * data.taxpercent/100) | currency }} </h3>
      <h3>Tip: {{ (data.tippercent/100) * (data.mealprice + (data.mealprice * data.taxpercent/100)) | currency }}</h3>
      <h3>Total: {{ (data.mealprice + (data.mealprice * data.taxpercent/100)) + ((data.tippercent/100) * (data.mealprice + (data.mealprice * data.taxpercent/100))) | currency }} </h3>
    </div>

    <div class="earnings-info">
      <h2>My Earnings Info</h2>
      <hr>
      <h3>Tip Total: {{ tipTotal | currency }}</h3>
      <h3>Meal Count: {{ mealCount }}</h3>
      <h3>Average Tip Per Meal: {{ avgTip | currency }}</h3>
    </div>
    
      <input type="submit" value="Reset" id="reset" ng-click="reset()" />

  </form>
  
</body>
</html>