<form name="tipsForm" novalidate>
  <div class="meal-details">
    <h2>Enter the Meal Details</h2>
    <hr>
    <h3>Base Meal Price: $<input type="number" ng-model="data.mealprice" placeholder="9.99" required min="0" /></h3>
    
    <h3>Tax Rate: %<input type="number" ng-model="data.taxpercent" required min="0" max="100"/></h3>
    
    <h3>Tip Percentage: %<input type="number" ng-model="data.tippercent" required min="0" max="100"/></h3>
    
    <br>
    <div class="buttons">
      <input type="submit" value="Submit" id="submit" ng-disabled="tipsForm.$invalid" ng-click="submit()" />
      <input type="submit" value="Cancel" id="cancel" ng-click="cancel()" />
    </div>
  </div>

  <div class="customer-charges">
    <h2>Customer Charges</h2>
    <hr>
    <h3>Subtotal: {{ data.mealprice + (data.mealprice * data.taxpercent/100) | currency }} </h3>
    <h3>Tip: {{ (data.tippercent/100) * (data.mealprice + (data.mealprice * data.taxpercent/100)) | currency }}</h3>
    <h3>Total: {{ (data.mealprice + (data.mealprice * data.taxpercent/100)) + ((data.tippercent/100) * (data.mealprice + (data.mealprice * data.taxpercent/100))) | currency }} </h3>
  </div>

</form>